
<ion-view view-title="意见反馈">
	<ion-nav-buttons side="left">
		<button onclick="goback()" class="button icon ion-android-arrow-back nav_btnbg">返回</button>
	</ion-nav-buttons>
	
	<ion-content>
		<form action="" method="get" class="advice_form">
			<ul class="list advice">
				<li class="item item-input item-icon">
					<input type="text" name="" id="text" placeholder="请输入您的手机号" />
				</li>
				<li class="item item-input item-icon">
					<textarea placeholder="请输入您要反馈的问题"></textarea>
				</li>
				
			</ul>
			<div class="padding">
				<inpu class="button button-calm submit_btn">提交</button>
			</div>
			
		</form>
		
	</ion-content>
</ion-view>
